@import
url('https://fonts.googleapis.com/css?family=Lobster');

@import
url('https://fonts.googleapis.com/css?family=Unna');

@import
url('https://fonts.googleapis.com/css?family=Yeseva+One');

@import
url('https://fonts.googleapis.com/css?family=Cookie');

body {
    background-color: rgb(227, 180, 176);
}

.header-wrapper {
    image-orientation: flip;
    font-size: larger;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 150px;
    background-image: url(https://pbs.twimg.com/media/FITYmefXMAAIklo?format=jpg&name=4096x4096);
}

.header-content {
    margin-top: 80px;
    margin-right: 1%;
    margin-left: 20%;
    text-align: center;
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}


.exhibit-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200px;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: rgb(245, 247, 250);
}

.intro-tags {
    display: grid;
    grid-template-columns: 66% 40%;
    grid-template-rows: auto;
    grid-gap: 30px;
    grid-template-areas:
      "left1 right1";
}

.tags {
    margin: 10px;
    font-size: 15px;
    font-family:Yeseva One;
    font-style: italic;
    font-weight: 400;
    word-wrap: break-word;
    color: rgb(94, 93, 93);
    border:10px solid rgb(206, 163, 163);
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(249, 237, 218);
}

a.nav:link {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-style:italic;
    padding: 5px;
}

a.nav:hover {
    color: rgb(154, 4, 17);
    text-decoration: none
}

a.nav:visited {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-style:italic;
}

a.intext:link {
    color: black;
    text-decoration: none;
    font-style:italic;
}

a.intext:hover {
    color: rgb(154, 4, 17);
    text-decoration: none
}

a:link {
    color: rgb(48, 38, 72);
}

a:hover {
    color: rgb(154, 4, 17)
}

a:active {
    color:rgb(33, 41, 57)
}

a:visited {
    color:rgb(33, 41, 57);
}

p.normaltext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
}

p.normaltext:first-letter {
    font-size: 40px;
    padding:5px 0;
}

.act-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
}

.title1 {
    font-family:Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 62px;
    font-style: italic;
    font-weight: 700;
}

.subtitle {
    font-family: Yeseva One;
    font-size: 23px;
    font-style: italic;
}


.first-text-img-wrapper {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 66% 40%;
    grid-template-rows: auto;
    grid-template-areas:
      "left1 right1";
    margin-bottom: 40px;
}

.originalwork {
    margin-top: 40px;
    margin-bottom: 40px;
}

.first-img {
    border: dashed 5px rgb(206, 163, 163);
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(249, 237, 218);
    margin-top: 50px;
    max-height: auto;
    max-height: auto;
}

#right2 {
    font-family: Yeseva One;
    font-size: 15px;
    font-style: italic;
}

#left1 {
    font-family: Cookie;
    text-shadow:2px 1px 1px rgba(255, 87, 101, 0.502);
    font-size: 30px;
    align-self: auto;
}

img.exhibitimg {
    align-self: center;
    max-width: 380;
}

li.premiere {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.showdetails {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 0px;
}

.production-container {
    display: grid;
    position:relative;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: Yeseva One;
    grid-gap: 100px;
    grid-template-columns: auto 50%;
    grid-template-rows: auto;
    grid-template-areas:
      "left3 right3";
    border: dashed 5px rgb(206, 163, 163);
    border-radius: 10px;
    background-color: rgb(249, 237, 218);
}


#left3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}

#right3 {
    text-align: left; 
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 100px;
}

img#director-image {
    width:250px;
    height:200px;
    padding: 10px;
    object-fit: cover;
    border: solid 10px rgba(84, 84, 84, 0.571);
    border-radius: 15px;
    box-shadow: 5px 5px rgb(206, 163, 163)
}

.melody-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      "left4 right4";
    margin-left: 60px;
    margin-right: 60px;
    border: dashed 5px rgb(206, 163, 163);
    border-radius: 10px;
    background-color: rgb(249, 237, 218);
    padding: 30px;
}

#left4 {
    font-style: italic;
    text-align: center;
    margin: auto;
}

#right4 {
    line-height: 50px;
    font-family: Yeseva One;
}

li.smallpoint {
    font-family: Yeseva One;
    font-size: 17px;
    font-weight: 700;
}

p.act-text {
    font-size: 20px;
    line-height: 30px;
}

p.references {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
}

.reference-container {
    color: rgb(80, 80, 80);
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    border: dashed 5px rgb(206, 163, 163);
    border-radius: 10px;
    padding: 20px;
    word-wrap: break-word;
}

#footer {
    margin-top: 4%;
    background-color: rgb(45, 45, 45);
    width: 100%;
}

.footernav {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 200px;
    grid-template-areas:
      "leftli rightli";
    margin-left: 20%;
    margin-right: 20%;
    padding: 0px;
    text-align: center;
}

p.searchbycata {
    padding-top: 5%;
    text-align: center;
    margin-bottom: 3%;
    color: white;
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
}

p.footercontact {
    text-align: center;
    color: white;
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

.footerli {
    list-style-type:none;
    line-height: 30px;
}

a.footnav:link {
    color:rgb(255, 255, 255);
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;

}

a.footnav:hover {
    color: rgb(154, 4, 17);
    text-decoration: none
}

a.footnav:visited {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-style:italic;
}

a.lastcontact:link {
    color:rgb(255, 255, 255);
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

a.lastcontact:visited {
    color:rgb(255, 255, 255);
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

a.lastcontact:hover {
    color: rgb(154, 4, 17);;
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

