@import
url('https://fonts.googleapis.com/css?family=Yeseva+One');

@import
url('https://fonts.googleapis.com/css?family=Unna');

@import
url('https://fonts.googleapis.com/css?family=Playfair+Display');
body {
    background-color: rgb(247, 239, 239);
    margin-top: 15%;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p.indexintro {
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:rgb(52, 52, 52);
    font-weight: 800px;
    font-style: italic;
    text-shadow: 2px 1px 1px rgba(255, 87, 101, 0.502);
    text-align: center;
}

p.aboutus {
    font-family: Yeseva One;
    font-size: 23px;
    font-style: italic;
    text-align: center;
    line-height: 30px;
}

.toppicksdiv {
    border: solid 50px rgb(247, 239, 239);
    background-color: rgba(206, 163, 163, 0.365);
    margin-top: -5%;
}

.intropara {
    max-width: 1200px;
    margin: auto;
}

span.museumid {
    text-shadow: 2px 1px 1px rgba(255, 87, 101, 0.502);
}

ul {
    font-family: sans-serif;
}

.header-wrapper {
    image-orientation: flip;
    font-size: larger;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 150px;
    background-image: url(https://pbs.twimg.com/media/FITYmefXMAAIklo?format=jpg&name=4096x4096);
}

.header-content {
    margin-top: 80px;
    margin-right: 1%;
    margin-left: 20%;
    text-align: center;
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}


.indexcontainer {
    align-items: center;
    margin-left: 180px;
    margin-right: 100px;
    margin-top: 50px;
    border: solid 5px rgba(77, 7, 7, 0.584);
    padding-left:20px;
    padding-bottom:20px;
}

.left1-0 {
    margin-top: -20px;
}

.title2 {
    font-family: Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
}

.indexgrid {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas:
      "left1-0 right1-0";
}

img.indeximg {
    width:750px;
    height:500px;
    object-fit: cover;
}

a.exploremore:link {
    font-family: Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    font-style: italic;
    font-weight: 700;
    background-color: rgba(77, 7, 7, 0.584);
    margin: 20px;
}

a.nav:link {
    color:rgb(249, 249, 249);
    text-decoration: none;
    font-style:italic;
    padding: 5px;
}

a.nav:visited {
    color:rgb(252, 252, 252);
    text-decoration: none;
    font-style:italic;
}

a.nav:hover {
    color:rgb(154, 4, 17);
    text-decoration: none;
    font-style:italic;
}


a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(154, 4, 17);
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

#gallery {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    display: grid;
    max-width: 100%;
    grid-column-gap: 100px;
    margin-bottom: 0px;
}


.grid_cell {
    align-self: baseline;
    max-width: 100%;
}


.gallery_thumb {
    width: 350px;
    height: 250px;
    object-fit: cover;
    margin-top: 0px;
}

.three_gallery {
    display: grid;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;
    grid-template-columns: auto auto;
    grid-column-gap:20px;
}

.three_grid_cell {
    align-self: baseline;
    margin: 5%;
}

.three_gallery_img {
    width: 550px;
    height: 350px;
    object-fit: cover;
}

.three_grid_cell_word {
    margin-left: 2%;
}

.year_gallery {
    display: grid;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 5%;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap:40px;
}

.year_grid_cell {
    align-self: baseline;
    margin-top: 5%;
    margin-bottom: 30%;
}

.year_gallery_img {
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.year_grid_cell_word {
    word-break: break-all;
}

#exhibit {
    width: 300px;
}

h1.title1 {
    font-family: Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: -30px;
}

p.drama1 {
    font-family: Yeseva One;
    font-size: 30px;
    line-height: 30px;
    margin-top:0px;
    margin-bottom:10px;
}

p.brief1 {
    font-family: Yeseva One;
    font-size: 15px;
    font-style: italic;
    line-height: 30px;
    margin-top:0px;
    margin-bottom:0px;
}

p.director1 {
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 30px;
    margin-top:10px;
    margin-bottom:0px;
    color:grey   
}

p.findout {
    font-family: Yeseva One;
    font-size: 30px;
    line-height: 30px;
}

p.caption {
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 24px;
}

#footer {
    margin-top: 3%;
    background-color: rgb(45, 45, 45);
    width: 100%;
}

.footernav {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 200px;
    grid-template-areas:
      "leftli rightli";
    margin-left: 20%;
    margin-right: 20%;
    padding: 0px;
    text-align: center;
}

p.searchbycata {
    padding-top: 5%;
    text-align: center;
    margin-bottom: 3%;
    color: white;
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
}

p.footercontact {
    text-align: center;
    color: white;
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

.footerli {
    list-style-type:none;
    line-height: 30px;
}

a.footnav:link {
    color:rgb(255, 255, 255);
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;

}

a.footnav:hover {
    color: rgb(154, 4, 17);
    text-decoration: none
}

a.footnav:visited {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-style:italic;
}

a.lastcontact:link {
    color:rgb(255, 255, 255);
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

a.lastcontact:visited {
    color:rgb(255, 255, 255);
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

a.lastcontact:hover {
    color: rgb(154, 4, 17);;
    font-family: 'Yeseva One', Unna, Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

#search-container {
    margin-left: 45%;
}

.searchpage {
    min-height: 500px;
}

.search_guide_container {
    margin-top: 5%;
    max-width: 60%;
    margin-left: 20%;
}

p#searchguides {
    font-family: 'Playfair Display', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color:rgb(52, 52, 52);
    font-weight: 800px;
    font-style: italic;
}

p#searchguides2 {
    font-family: 'Playfair Display', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color:rgb(52, 52, 52);
    font-style: italic;
    font-weight:bolder;
}

span#specificsearch {
    font-family: 'Playfair Display', Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 20px;
    color:rgb(52, 52, 52);
    font-weight: 900px;
    font-style: italic;
    text-shadow: 2px 1px 1px rgba(255, 87, 101, 0.502);
}

@media (min-width: 600px) {
    #gallery { 
        grid-template-columns: repeat(2, 275px); 
    }
  }

@media (min-width: 900px) {
    #gallery { 
        grid-template-columns: repeat(3, 275px); 
    }
  }

@media (min-width: 1200px) {
    #gallery { 
        grid-template-columns: repeat(4, 275px); 
    }
  }


@media (min-width: 600px) {
    #exhibit {
        width: 550px;
    }
}

@media (min-width: 900px) {
    #exhibit {
        width: 850px;
    }
}

@media (min-width: 1200px) {
    #exhibit {
        width: 1150px;
    }
}