---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/exhibitstyles.css">
    <link rel="icon" type="image/x-icron" href="/smalllogo.png">
</head>
  <body>
    <div class="header-wrapper">
        <div class="header-content">
        <nav>
            <a href="{{ site.baseurl }}/" class="nav">Home</a>
            <a href="{{ site.baseurl }}/top_Picks" class="nav">Top Picks</a>
            <a href="{{ site.baseurl }}/plays" class="nav">Plays</a>
            <a href="{{ site.baseurl }}/opera_and_Musicals" class="nav">Opera and Musicals</a>
            <a href="{{ site.baseurl }}/dance" class="nav">Dance</a>
            <a href="{{ site.baseurl }}/theatres_in_london" class="nav">Explore Drama in London</a>
            <a href="{{ site.baseurl }}/search" class="nav">Search</a>
        </nav>
        </div>
    </div>
    
    <div class="exhibit-wrapper">
       
        {% assign licences = site.data.licences | find: "licence", page.licence %}
        {% assign writers = site.data.writers | find: "writer", page.writer %}
        {% assign theatres = site.data.theatres | find: "theatre", page.performance-venue %}
        {% assign characters = site.data.characters %}

        <h1 class="title1"><a class="intext" href="{{ page.drama-url }}" >{{ page.title }}</a></h1>
        <div class="intro-tags">
            <div class="brief-intro" id="left1">
              <p>{{ page.brief-introduction | markdownify }}</p>
            </div>
            <div class="tags" id="right1">
              <p><strong>Category: </strong><a href="{{ site.baseurl }}/opera_and_musicals" title="Click for more fantastic opera and musicals!">{{ page.category }}</a></p>
              <p><strong>Tags: </strong>{{ page.tags }}</p>
            </div>
            
        </div>

        <div class="first-text-img-wrapper">
            <div class="first-text" id="left2">

            <h3 class="subtitle">Back to the Original</h3>

            <div class=originalwork>
            <p class="normaltext">The original work of this show is based on {{ page.original-work-year }} {{ page.original-work-type }} 
            <a href="{{ page.original-work-url }}">{{ page.original-work-name }}</a> by <a href="{{ writers.writer-url }}">{{ page.writer }}</a></p>
            <p class="normaltext">{{ page.synopsis }}</p>
            <p class="normaltext">{{ page.transition }}</p>
            </div>
        
            <h3 class="subtitle">About the Premiere of the Classic Melody</h3>
            <ul>
              <li class="premiere"><span class="showdetails">Debute Date:</span> {{ page.performance-date }}</li>
              <li class="premiere"><span class="showdetails">Premiere Place:</span> {{ page.performance-city }}, {{ page.performance-country }}</li>
              <li class="premiere"><span class="showdetails">Premiere Venue:</span> <a href="{{ theatres.theatre-url }}">{{ page.performance-venue }}</a></li>
            </ul>
            </div>

            <div class="first-img" id="right2">
            <img src="{{ page.image-url }}" class="exhibitimg"></a><br>
            "<a href="{{ page.image-url }}">{{ page.img-name }}</a>" by {{ page.img-creator }} is under <a href="{{ licences.licence-url }}">{{ page.licence }}</a>
            </div>
        </div>

        

        <div class="actbrief">
        <h3 class="subtitle">Synopsis of Act</h3>
            <p class="act-text"><FONT face="Cochin", size="4">{{ page.act-brief | markdownify }}</FONT></p>
        </div>

        <div class="production-container">

            <div class="director-image" id="left3">
                <img src="{{ page.directer-img-url }}" id="director-image">
            </div>
            <div class="director-info" id="right3">
                <p><strong>Directed by</strong> {{ page.director }}</p>
                <p><strong>Production Team Information:</strong> {{ page.scriptwriter }}</p>
            </div>

        </div>

        <div class="melody-container">
            <div class="melody-content" id="left4">
                <h3 class="subtitle">Melodies Lingering</h3>
            </div>
            <div class="melody-content" id="right4">
                <ul>
                  <li class="smallpoint"><a href="{{ page.music1-url }}">{{ page.music1 }}</a></li>
                  <li class="smallpoint"><a href="{{ page.music2-url }}">{{ page.music2 }}</a></li>
                  <li class="smallpoint"><a href="{{ page.music3-url }}">{{ page.music3 }}</a></li>
                </ul>
            </div>
        </div>

        <div class=reference-container>
            <p class=references>References:</p>
            <p class=references><FONT face="Cochin", size="4">{{ page.references | markdownify }}</FONT></p>
        </div>


    </div>

    <div id = "footer">
        <div id="wrapper">
            <div class="footernav">
    
            <p class=searchbycata>Search by category</p>
            <div class=searchby3cata id="leftli">
                <li><a href="{{ plays }}/" class="footnav">Plays</a></li>
                <li><a href="{{ dance }}" class="footnav">Dance</a></li>
                <li><a href="{{ opera and Musicals }}" class="footnav">Opera_and_Musicals</a></li>
            </div>

            <div class="searchbyyear" id="rightli">
            <li><a href="{{ site.baseurl }}1800s_1840s" class="footnav">1800s-1840s</a></li>
            <li><a href="{{ site.baseurl }}1850s_1890s" class="footnav">1850s-1890s</a></li>
            <li><a href="{{ 1900s-1950s }}"class="footnav">1900s-1950s </a></li>
            <li><a href="{{ site.baseurl }}after_1950s" class="footnav">After 1950s</a></li>
            <li><a href="{{ site.baseurl }}others" class="footnav">Others</a></li>
            </div>
            </div>
        </div>

        <p>Please <a href = "{{ site.baseurl }}/contact_us">Contact us</a> if you have any questions</p>
        <p>Created with <a href = "https://jekyllrb.com/">Jekyll</a> for assessment purposes by <a href = "https://github.com/erin711">Wanqi Liu</a>,<a href = "https://github.com/Luo-siyu">Siyu Luo</a> and Qiyao Pan 
            in 2021</p></footer>
    </div>
</div>

  </body>